.hero-section.x2 {
    background-image: url(https://res.cloudinary.com/dtvnifa3t/image/upload/img/fintech-software/Fintech-Software-Development-bg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    background-position: center;
}

/* .banner-heading.x2{
border-left: 1px solid rgba(63, 94, 251, 1);
border-radius: 0px !important;

} */
.hero-section.x2 h1 {
    font-weight: 700;
    line-height: 55px;
    border-left: 1px solid #3F5EFB;
    padding-left: 25px;
    border-radius: 0px !important;
    text-align: left;
}

/* basic-tab-section */
.inner-basic-tab {
    background: rgba(150, 167, 253, 0.1);
    box-shadow: 0px 6px 4px 0px rgba(63, 94, 251, 0.4);
    padding: 32px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 278px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}


/* .feature-section {
      padding: 50px 20px;
      max-width: 1200px;
      margin: auto;
    } */

.feature-section h2 {
    margin-bottom: 10px;
    font-size: 2rem;
}

.feature-section p {
    margin-bottom: 30px;
    line-height: 1.6;
}

.tabs.x4 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 10px;
}

.tab-button.x3 {
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: linear-gradient(157.62deg, rgba(0, 0, 0, 0.1) 37%, rgba(0, 0, 0, 0.2) 100%);
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    border-radius: 50px;
}

.tab-button.x3.active {
    background: #007bff;
    color: white;
}

.tab-content {
    display: none;
    animation: fadeIn 0.3s ease-in-out;
}

.tab-content.active {
    display: block;
}

/* .feature-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    } */

.feature-img {
    flex: 1 1 45%;
    max-width: 100%;
}

.feature-text {
    flex: 1 1 45%;
}

.feature-text label {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
}

.col-6.x3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.tab-right-con {
    padding: 32px;
}

/* .tab-heading-section{
        padding-bottom: 10px;
        border-bottom: ;
    } */
.hr-tab-cls {
    background: rgba(70, 70, 70, 1);
    height: 3px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .feature-wrapper {
        flex-direction: column;
    }
}

.fintech-product {
    background-image: url('https://res.cloudinary.com/dtvnifa3t/image/upload/img/fintech-software/fintech-product');
    background-size: cover;
}

.Fintech-Product-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.fintech-cta {
    background: rgba(240, 244, 247, 1);
    border-radius: 14px;
    position: relative;
}

.img-relative-cta {
    position: absolute;
    bottom: 0px;
}

.cta-fintech {
    margin-top: 100px;
}

/* .fintech-cta{
        background-image: url(https://res.cloudinary.com/dtvnifa3t/image/upload/img/fintech-software/fintech-idea);
    } */
/* .section-fintech-slide ,  */
.section-mrg-t {
    background: rgba(234, 234, 234, 1);
}

.section-2.x3 {
    max-width: 100%;
}

.new-slide-num {
    max-width: 1100px;
    margin: 60px auto;
}

.outer-circle.x3 {
    left: 166px;
}

.technology-cls {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */

}

/* .techno-hr{
        background-color: #000;
        height: 1px;
    } */
.bottom-line {
    border-bottom: 1px solid rgba(177, 177, 177, 1);
    padding-bottom: 15px;
}

.tech-fontt {
    font-size: 20px;
    font-weight: 700;
}

.tab-button:not(.x2).active::before,
.tab-button:not(.x2):hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: unset;
    background: none !important;
    left: 0;
    bottom: -6px;
}

.tab-button.active::before,
.tab-button:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: unset !important;
    background: none !important;
    left: 0;
    bottom: -6px;
}
.slider .service-card.x4{
min-height: 290px;
}
.slick-p{
    color: rgba(170, 173, 177, 1) !important;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.inner-basic-tab a{
color:  rgb(31 111 228);
}

@media (max-width: 1199.98px) {
    .hero-section.x2 h1 {
        text-align: center;
        border-left: none !important;
        font-size: 31px !important;
    }

    .hero-section.x2 {
        background-image: none !important;
        background-color: #000;
    }

    .cta-media-off {
        display: none;
    }

    .media-cta-content {
        text-align: center;
    }
    .cta-fintech {
        margin-top: 0px ;
    }
}
@media (max-width:768.98px) {
    .img-disply{
        display: none;
    }
    .tab-button.x3 {
        display: none;
    }
    .tab-content.x5{
        display: block;
    }
   .md-tech{
    text-align: center;
    margin-bottom: 20px;
   }
   .tab-right-con{
    padding: 10px;
   }
   .slick-p{
    width: 100%;
   }
}
@media (max-width:576.98px) {
    .technology-cls{
        flex-wrap: wrap;
    }
    .container.x6{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .forex-grid{
        padding: 40px 10px;
    }
   .slider-navigation button{
        padding: 13px 18px;
        font-size: 26px;
        width: 50px;
        height: 50px;
    }

}


.hero-section.x3{
    background-image: url(https://res.cloudinary.com/dtvnifa3t/image/upload/img/Forex/banner-background) !important;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    background-position: center;
}
.card-des.ar3{
height: 420px;
}
.forex-cta-plat{
    padding: 10px 32px !important;
}
.img-cta-forex{
    right: 0px;
}
@media (min-width:768.98px) and (max-width:991.98px) {
    .card-des.ar3{
height: 460px;
}
}
@media(max-width:767.98px) {
    .card-des.ar3{
height: 100%;
}
}


/* ai-development */
.ai-cta{
background-image: url("https://res.cloudinary.com/dtvnifa3t/image/upload/img/ai_development/ai-cta-bg");
background-position: left;
background-size: contain;
background-repeat: no-repeat;
}
.banner-border-ai{
       border-left: 2px solid #3F5EFB;
    padding-left: 20px;
    border-radius: 0px !important;
}

.advance-ai{
   background-image: url("https://res.cloudinary.com/dtvnifa3t/image/upload/img/ai_development/ai-Gradient-bg");
background-position: center;
background-size: cover;
background-repeat: no-repeat; 
}
.advance-ai-list{
    /* list-style: disc; */
}
.advance-ai-list li{
    margin-left: 20px;
    margin-top: 10px;



        font-weight: 700;
    padding: 8px 0;
    font-size: 14px;
    background: url(https://res.cloudinary.com/dtvnifa3t/image/upload/img/ai_development/list-syle-arrow);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;
    color: #fff;
}

.faq-wrapper {
  position: relative;
  /* display: flex; */
  height: 522px; 
  overflow: scroll;
    /* overflow-y: auto; 
  overflow-x: hidden;
  scrollbar-width: none;  */
}
/* .faq-wrapper::-webkit-scrollbar {
  display: none;
} */

/* .faq-cls-sectns {
  padding-right: 60px; 

} */

/* .custom-scroll-track {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 2px;
  background: #e5e5e5;
}

.custom-scroll-thumb {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  background: #cfcfcf;
  transform: translateX(-50%) rotate(45deg);
} */



/* .faq-cls-sectns {
  width: 100%;
  padding-right: 50px; 
} */


/* Vertical line */
/* .faq-tracker {
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #B2B1AA;
  border-radius: 10px;
} */

/* Moving indicator */
/* .tracker-thumb {
  position: absolute;
  top: 0;
  right: -4px;
  width: 12px;
  height: 12px;
  background: #ff6b6b;
  border-radius: 50%;
  transition: top 0.35s ease;
} */
 .tracker-thumb {
  position: absolute;
  top: 0;
  right: -7px;

  width: 14px;
  height: 14px;

  /* background: #ffffff; */
  border: 1.5px solid #B2B1AA;

  transform: rotate(45deg); /* 👈 diamond shape */
  transition: top 0.35s ease;

  box-shadow: 0 0 0 3px #fff; /* line overlap clean look */
}

/* default closed */
/* .hw-accordion-body {
  display: none;
}

.hw-accordion-body.show {
  display: block;
} */


.ai-modern-list{
    list-style: disc;
}
.medi-center.ar3,.button-common.ar3{
  text-align: left;
}
.ai-modern-list li{
    margin-left: 20px;
}
.img-lighten{
    mix-blend-mode: lighten;
}
.img-relative{
    position: relative;
}
.img-position-cls{
    position:absolute;
    bottom: 0px;
}
/* arrow icon click ignore */
.accrd-panel-head img {
  pointer-events: none;
}
/* default accordion head */
.hw-accordion-head {
  background: transparent;
  transition: background 0.3s ease, color 0.3s ease;
}

/* ONLY OPEN / ACTIVE accordion head */
.hw-accordion-head.active {
  background: linear-gradient(
    89.88deg,
    #926CDC 0.1%,
    #BD6F8F 28.62%,
    #D1716F 54.24%,
    #E5734D 79.45%
  );
  /* color: #ffffff; */
  border-radius: 6px;



    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
.strategic-content {
  display: none;
}

.strategic-content.active {
  display: block;
}
.tab-button-tab {
  cursor: pointer;
  /* opacity: 0.6; */
  border-bottom: 2px solid transparent;
}
.ai-tech-tab{
    background: #383838;
    border-radius: 53px;
    padding: 6px 16px;
    color: #fff;
    /* margin: 0 5px; */
    cursor: pointer;
white-space: nowrap;
  transition: background 0.3s ease;


}
.ai-tech-tab.active {
  background: #0050D5;
  color: #fff;
}
.ai-tab-icon{
    background: #FFFFFF17;
    border-radius: 10px;
    padding: 12px 32px;
    max-height: 199px;
        display: flex;
    flex-direction: column;
    align-items: center;

}
.ai-tab-icon img{
    text-align: center;
}
.block-1 .accrd-panel-head.ar3{
    padding: 0px 29px 40px;
}
.helight-head-ai{
        padding: 10px 15px;
    background: rgba(217, 217, 217, 1);
    border-radius: 5px;
    display: inline-block;
    color: rgb(6 6 6);
}
.inner-basic-tab-ai{
    /* background: rgba(150, 167, 253, 0.1); */
box-shadow: 0px 6px 4px 0px #3F5EFB66;
    padding: 32px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 278px;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    background: #FFFFFF;
}


.ai-accordion-list{
    list-style: disc;
}
.ai-accordion-list li{
    margin-left: 20px;
}

/* broker-design */
.forex-flow {
  padding: 80px 20px;
  background: #fff;
}

/* .container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
} */

h2 {
  font-size: 36px;
  font-weight: 700;
}

.desc {
  max-width: 820px;
  margin: 12px auto 70px;
  color: #555;
}


.top-dimension.glacy img,.bottom-dimension.glacy img{
filter:grayscale(0) !important;
}
.AI-Solutions{
  color: #000;
  text-align: center;
}

.top-dimension.glacy, .bottom-dimension.glacy{
  min-height: 181px !important;
}




@media (max-width:1199.98px) {
    .text-align-tab{
        text-align: center;
    }
    .justify-ai-tab{
        justify-content: center !important;
    }
    .width-conten-full{
        width: 100% !important;
    }
    .img-dis-ar3{
        display: none !important;
    }
    .medi-center.ar3, .button-common.ar3 {
      text-align: center !important;
    }
    .ui-ai-modernBusiness{
        display: flex;
        justify-content: center;
    }
    .banner-border-ai{
      border-left: none !important;
      padding-left: 0px !important;
    }
  
}
@media (max-width:991.98px) {
    .custom-width-ai{
        width: 100% !important;
    }
    .media-align-cen{
        text-align: center !important;
    }
    .cta-broker-p{
      text-align: center !important;
    }
    .ai-tab-icon-section{
      display: none !important;
    }
}

/* end */



/* brokerage */

.key-future-container{
  align-items: flex-start;
}
.right-key-future{
   overflow: visible;
  max-height: none;

    display: flex;
    flex-direction: column;
    gap: 24px;
  
}
/* .position-sticky{
    position: sticky;
    top: 30px;
} */
.key-future-container{
  display: flex;
  align-items: flex-start !important;
  
}

.left-sticky{
 position: sticky;
    top: 30px;
  }

.key-future {
  height: 100vh;
  overflow-y: auto;
}

.key-future-content{
    border: 1px solid #E5E7EB;
    border-radius: 16px;
    padding: 24px;
    background: #fff;
}
.bro-step{
  color: #D1D5DB;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;

}
.underline-bar{
background: linear-gradient(90deg, #3B82F6 0%, #A855F7 100%);
height: 4px;
width: 80px;
margin-top: 10px;
/* margin: 0 auto; */
}

/* Steps row */
.steps-bro {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  position: relative;
}

/* Step */
.step-bro {
  position: relative;
  text-align: center;
  
}

/* Yellow dot */
.dot-bro {
  width: 12px;
  height: 12px;
  background: #ffb703;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.outer-dot{
    background-color: #ffff;
      border-radius: 50%;
      padding: 10px;
       position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

}
.inner-dot{
      background-color: #ffff;
      border-radius: 50%;
       position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 6px;
  height: 6px;
}

/* Curved dotted connector */
.connector {
  position: absolute;
  top: -22px;
  left: 0px;
  width: 100%;
  height: 40px;
  border-top: 2px dashed #d8d8d8;
  border-radius: 50px;
  transform: translateX(50%);
}

/* Arrow */
.connector::after {
  content: "▶";
  position: absolute;
  right: 80px;
  top: -10px;
  font-size: 14px;
  color: #ffb703;
}

/* Remove connector for last step */
.step:last-child .connector {
  display: none;
}

/* Card */
.card-brokerage {
  background: transparent;
  border-radius: 18px;
  padding: 12px 6px;
  min-height: 255px;
  /* box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06); */
border: 1.3px solid #0000000A;
  padding-top: 0px !important;
}

.card-brokerage h4 {
font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    background: #5900FF12;
    padding: 10px 20px;
    border-radius: 18px;
    min-height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;


  
}

.card-brokerage p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 1199.98px) {
  .steps-bro {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }

  .dot-bro,.outer-dot, .connector{
    display: none;
  }
  .card-brokerage{
   min-height: 100% !important;
  }
}

@media (max-width: 767.98px) {
  .steps-bro {
    grid-template-columns: 1fr;
  }
}

/* end */


.smart-investment.borakerage{
background: #F6FAFF;
}
.broker-cta-content{
  background-image: url("https://res.cloudinary.com/dtvnifa3t/image/upload/img/Brokerage/brokerage-cta");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
    padding:100px 10px !important;

}
.ai-cta-content{
 background-image: url("https://res.cloudinary.com/dtvnifa3t/image/upload/img/ai_development/ai-cta-bg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
    padding:100px 10px !important;
}
.cta-content{
  text-align: left;
  max-width: 500px;
  /* margin-left: 50px; */
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: flex-start;

}
.cta-content.ar3{
 margin: 0 20px;
}
section.Security-Features-of-our-Cryptocurrency-Exchange-Script .container .top-dimension, section.Security-Features-of-our-Cryptocurrency-Exchange-Script .container .bottom-dimension.ar3{
  min-height: 166px;
} 
@media (max-width:991.98px) {
  .broker-cta-content{
    background: #4f7bda;
    background-image: none;
    padding: 20px 10px !important;
    border-radius: 20px;
  }
   .ai-cta-content{
    background: #0c1522;
    background-image: none;
    padding: 20px 10px !important;
    border-radius: 20px;
  }
  .cta-content{
     align-items: center;
     margin: 0 auto;
     max-width: 100% !important;
  }
  .cta-broker-h2{
    text-align: center;
     

  }
  .key-future-width{
    width: 100%;
  }
  .media-top-ai{
    margin-top: 20px !important;
  }
 
.left-sticky{
 position: relative;

  }
  .key-future{
   height: 100% !important;
  }
  .key-left-content{
    margin-bottom: 20px;
  }
  .right-key-future {
    margin-top: 35px;
  }
}



/* prop-firm */

.Grow-faster{
background-image: url("https://res.cloudinary.com/dtvnifa3t/image/upload/img/prop-firm-tech/grow-faster-bg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.grow-faster-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.tab-button-pro{
  color: #fff;
  border-bottom: 2px solid #5F5F5F;
  text-align: left;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
}
.tab-deg-pro{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
   /* text-align: center; */
}
.pro-inner-des{
  background-color: #F5F9FF;
  border-radius: 25px;
  padding: 20px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.tab-button-pro {
  color: #aaa;
  border-bottom: 2px solid #444;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.tab-button-pro.active {
  color: #fff;
  border-bottom: 2px solid #00b3ff;
}

.tab-content.medai-border {
  display: none;
}

.tab-content.medai-border.active {
  display: block;
}

.key-future.ar3{
  height: 100%;
  margin-bottom: 40px;
}
.right-key-future.ar3{
  height: 100vh;
  overflow: auto !important;
  max-height: 100vh;

}
.props-firm-steps{
  background-color: #000000;
}
.props-steps-content{
border: 2px solid #FFFFFF;
border-radius: 20px;
padding: 22px ;
/* height: 250px; */
}
.step-pro-dim{
  color:#7E8187 ;
  font-size: 14px;
}
.top-dimension.glacy img,.bottom-dimension.glacy img{
filter:grayscale(0) !important;
}
.AI-Solutions{
  color: #000;
  text-align: center;
}

.top-dimension.glacy, .bottom-dimension.glacy{
  min-height: 181px !important;
}

.tab-content.medai-border .d-flex h3{
text-align: left !important;
}


.pro-span-head{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}
.multi-platform{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.inner-multi-platform{
  background-color: #FFFFFF17;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: px; */
  flex-direction: column;
  min-width: 260px;
  min-height: 220px;
}
@media (max-width:1199.98px) {
  .width-full{
    width: 100% !important;
  }
}

@media (max-width: 768.98px) {

  .tab-deg-pro {
    display: none;
  }

  .tab-content.medai-border {
    display: block !important;
  }
    .tab-content.medai-border p{
   text-align: left;
  }

  .pro-inner-des {
    padding: 15px;
  }
  .pro-inner-des{
  background-color: unset !important;
  border-radius: 25px;
  padding: 0px !important;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0px;
}
  .tab-content.medai-border{
  background-color: #F5F9FF;
  border-radius: 25px;
  padding: 20px !important;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  }
  .pro-tab-con{
    margin: 0 auto !important;
  }
}
@media (max-width:576.98px) {
  .medai-border .d-flex{
    flex-wrap: wrap;
  }
}